.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.feedback-form input {
  max-width: 360px;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  transition: border 250ms ease-in-out;
}

.feedback-form input:hover,
.feedback-form input:focus {
  border: 1px solid black;
}

.feedback-form input:active {
  border: 1px solid #808080;
}

.feedback-form textarea {
  max-width: 360px;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  background-color: transparent;
  resize: none;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  transition: border 250ms ease-in-out;
}

.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border: 1px solid black;
}

.feedback-form textarea:active {
  border: 1px solid #808080;
}

.feedback-form button {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  box-shadow: none;
  border: none;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  background-color: #4e75ff;
  transition: background-color 250ms ease-in-out;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
