.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
}

fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  gap: 48px;
  padding: 16px;
  transition: border-color 250ms ease;
}

fieldset:hover,
fieldset:active {
  border-color: black;
}

.form label {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Delay Input */

.form input[type='number'] {
  padding: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms ease;
}

.form input[type='number']:hover {
  border-color: #000;
}

.form input[type='number']:active {
  border-color: #4e75ff;
}

/* Button */

.form button {
  padding: 8px 0;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 250ms ease;
}

.form button:hover,
.form button:focus {
  background-color: #6c8cff;
}
